*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
}

.g-recaptcha {
  position: relative;
  overflow: hidden;
}

.grecaptcha-badge {
  visibility: hidden;
  overflow: hidden;
}

#nav1 a {
  font-weight: 97;
  position: relative;
  text-decoration: none;
  font-family: 'Garamond', serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  padding: 0 18px 0 18px;
}

#nav1 a:after {
  content: '';
  position: absolute;
  background-color: #fc7171;
  height: 3px;
  width: 0;
  right: 12px;
  left: 6px;
  bottom: -3px;
  transition: 0.2s;
}

#nav1 a:hover {
  text-shadow: -1px -1px 2 black;
  font-weight: bold;
  border-radius: 5px;
}

#nav1 a:hover:after {
  width: 90%;
}

.background {
  background-image: url('img/dark2.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -10px;
  margin-right: -6px;
  margin-top: -18px;
  height: 650px;
  width: auto;
  max-width: 1400px;
  top: 0;
}

.kaushan-script {
  font-family: 'kaushan script', cursive;
  letter-spacing: 2px;
  font-size: 11vw;
  text-shadow: 2px 2px 10px black;
}

.zen-kurenai {
  font-family: 'zen kurenai', sans-serif;
  letter-spacing: 1px;
  font-size: 11vw;
}

.background2 {
  margin-top: -10px;
  padding-top: 2px;
  height: auto;
  background-color: rgb(182, 226, 255);
}

#about-background {
  background-color: white;
}

.trirong {
  font-family: 'tritong', serif;
}

.trirong1 {
  font-family: 'tritong', serif;
  text-shadow: -2px 2px 4px white;
}

.trirong2 {
  font-family: 'tritong', serif;
  text-shadow: -2px 2px 4px rgb(0, 0, 0);
}

.background3 {
  margin-top: -10px;
  padding-top: 2px;
  margin-bottom: 20px;
  height: auto;
  background-color: rgb(255, 189, 103);
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.background4 {
  background-color: rgb(202, 255, 103);
  height: auto;
  margin-top: -10px;
}

.background5 {
  background-color: rgb(239, 240, 184);
  height: auto;
  margin-top: -10px;
}

.background6 {
  padding-bottom: 10px;
  background-color: rgb(117, 223, 255);
  height: auto;
}

.g-recaptcha {
  margin: 15px auto !important;
  width: auto !important;
  height: auto !important;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: -o-center;
  text-align: -ms-center;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInToright {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#nav1 {
  opacity: 1;
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0.3s 1 slideInFromTop;
}

#active {
  border-radius: 8px;
  color: black;
  background: linear-gradient(155deg, rgba(26, 26, 191, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.container .card {
  max-width: 300px;
  height: 190px;
  margin: 30px 10px;
  padding: 20px 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.container .card:hover {
  height: 61vh;
}

.container .card .imgContainer {
  position: relative;
  max-width: 250px;
  width: auto;
  height: auto;
  max-height: 250px;
  top: -50px;
  left: 10px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card .imgContainer img {
  max-width: 100%;
  border-radius: 4px;
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

@media (max-width: 370px) {
  .container .card .imgContainer {
    left: 0px
  }
}