@font-face {
	font-family: "dinnext";

	src: url(../assets/fonts/din-font/DINNextRoundedLTPro-Regular.woff) format("woff"), url(../assets/fonts/din-font/DINNextRoundedLTPro-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "dinnext-bold";

	src: url(../assets/fonts/din-font/DINNextRoundedLTPro-bold.woff) format("woff"), url(../assets/fonts/din-font/DINNextRoundedLTPro-bold.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "valorax";

	src: url(../assets/fonts/valorax-font/valorax.otf) format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "anton";

	src: url(../assets/fonts/anton-font/AntonSC-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "alfa";

	src: url(../assets/fonts/alfa-font/AlfaSlabOne-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}
:root {
	font-size: 16px;
	--primary-color: #111372;
	--secondary-color: #90e0ef;
	--lightBlue-color: #a0fbfe;
	--white-color: #f5f5f5;
	--black-color: #121212;
	--lightGrey-color: #b1b1b1;
	--grey-color: #666666;
	--darkGrey-color: #333333;
	--hover-color: rgba(53, 53, 55, 0.6);
	--active-link: rgb(196, 196, 196);
	--background-shadow: -4px 4px 4px 1.5px rgba(0, 0, 0, 0.4);
	--paragraph-shadow: -1px 1px 2px rgba(0, 0, 0, 0.65);
	--heading-shadow: -4px 4px 5px rgba(0, 0, 0, 0.4), 1px -1px 3px rgba(255, 255, 255, 0.4);
	--section-shadow: 1px -1px 41px -2px rgba(0, 0, 0, 0.75) inset;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "dinnext";
	font-weight: normal;
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
}

html {
	scroll-behavior: smooth;
}

nav {
	font-family: "dinnext";
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: 10;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background: transparent;
	transition: all 0.15s ease-in-out;
}

nav li {
	display: flex;
}

nav ul {
	list-style: none;
	display: flex;
	transition: background-color 200ms ease-in;
}

nav .logo-container {
	display: flex;
	margin-right: auto;
	justify-items: center;
	align-items: center;
	justify-self: flex-start;
}

nav .logo-container img {
	/* height: clamp(2vh, 3.5vh, 5vh); */
	/* width: clamp(8vw, 13.5vw, 23vw); */
	width: max(8rem, 10.5rem);
}

nav a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.25rem 2rem;
	color: var(--white-color);
	text-decoration: none;
	font-size: 1.25rem;
}

nav .home-li:hover {
	background-color: var(--hover-color);
	border-radius: 5px;
}

.nav-scrolled {
	background-color: rgba(17, 17, 17, 0.66);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(10px);
}

.nav-stay {
	background-color: rgba(17, 17, 17, 0.66);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(10px);
}

nav .agents-li:hover {
	background-color: var(--hover-color);
	border-radius: 5px;
}

nav .news-li:hover {
	background-color: var(--hover-color);
	border-radius: 5px;
}

nav .bugreport-li:hover {
	background-color: var(--hover-color);
	border-radius: 5px;
}

nav .maps-li:hover {
	background-color: var(--hover-color);
	border-radius: 5px;
}

nav ul .active {
	border-bottom: 2px solid var(--active-link);
}

#close-sidebar {
	display: none;
	width: 40px;
	z-index: 11;
	cursor: pointer;
	background: none;
	border: none;
	margin-left: 5%;
	margin-top: 5%;
}
.sidebar-close-img {
	width: 100%;
}
#open-sidebar {
	display: none;
	width: 40px;
	z-index: 11;
	cursor: pointer;
	background: none;
	border: none;
	fill: var(--white-color);
}
.sidebar-menu-img {
	width: 100%;
}

#overlay {
	background: rgba(0, 0, 0, 0.4);
	inset: 0;
	position: fixed;
	z-index: 9;
	display: none;
}

.nav-showMobile {
	display: none;
}

.none {
	display: none !important;
	pointer-events: none !important;
}

.invicible {
	opacity: 0 !important;
	pointer-events: none !important;
}

/* Buat Nav bar soalnya widthnya lebih dari 768px */
@media screen and (max-width: 878px) {
	#close-sidebar,
	#open-sidebar {
		display: block;
		max-height: 40px;
	}
	#open-sidebar {
		position: absolute;
		right: 5%;
	}
	nav {
		position: fixed;
		top: 0;
		right: -100%;
		height: 100%;
		width: min(325px, 100%);
		z-index: 10;
		transition: right 300ms ease-out;
		background-color: rgba(17, 17, 17, 0.66);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.75);
		backdrop-filter: blur(10px);
	}
	nav.show {
		right: 0;
	}
	nav.show ~ #overlay {
		display: block;
	}

	nav ul {
		width: 100%;
		flex-direction: column;
	}
	nav a {
		width: 100%;
	}

	.nav-showMobile {
		display: flex;
	}

	.mobile-logo-container {
		z-index: 9;
		position: fixed;
		top: 0;
		width: 100%;
		display: flex;
		padding: 1.25rem 2rem;
		justify-content: center;
		align-items: center;
	}
	.logo-container {
		width: max(160px, 210px);
	}
	.sidebar-hide {
		display: none !important;
	}
	.open-sidebar-img {
		width: 100%;
	}
	.close-sidebar-img {
		width: 100%;
	}
	nav a {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1.25rem 0.5rem !important;
		color: var(--white-color);
		text-decoration: none;
		font-size: 1.25rem;
	}
}

/* Button styling */
.btn {
	border-color: var(--secondary-color);
	color: var(--primary-color);
	box-shadow: 0 0 40px 40px var(--secondary-color) inset, 0 0 0 0 var(--secondary-color);
	transition: all 150ms ease-in-out;
	background-color: var(--primary-color);
	border-radius: 6px;
}

.btn:hover {
	box-shadow: 0 0 10px 0 var(--secondary-color) inset, 0 0 10px 4px var(--secondary-color);
	color: var(--secondary-color);
}
.play-now-btn {
	display: flex;
	align-content: center;
	margin-top: 2rem;
	padding: 1.125rem 3.125rem;
	font-size: 1.25rem;
}

.footer-content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--black-color);
	padding: 2rem 0rem;
	background-image: url("../assets/img/background/footer-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: drop-shadow(0px -14px 10px rgba(0, 0, 0, 0.5));
}

.footer-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-flow: row wrap;
	padding: 0rem 5rem;
}

footer .wrapper-giot {
	display: flex;
	flex-direction: column;
	width: 30%;
}

footer .giot-description {
	padding-top: 1rem;
	color: var(--white-color);
	font-size: calc(0.5rem + 1vw);
	width: 100%;
}

footer .giot-logo {
	min-width: 80%;
}

footer h3 {
	color: var(--white-color);
	font-size: calc(0.625rem + 1vw);
}

footer ul {
	list-style: none;
}

footer li {
	display: flex;
	flex-direction: row;
}

.wrapper-quick-links {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 1rem;
}

.wrapper-quick-links li a {
	text-decoration: none;
	color: var(--white-color);
	font-size: calc(0.675rem + 0.75vw);
	padding: 0.125rem 0rem;
}

.giot-info {
	color: var(--white-color);
	font-size: calc(0.675rem + 0.75vw);
}

.social-icon {
	display: flex;
	width: 2.5rem;
	height: 2.5rem;
}

.line-separator {
	height: 1px;
	width: 100%;
	background-color: var(--white-color);
	margin: 2rem 0rem;
}

.footer-close {
	display: flex;
	flex-flow: row wrap;
	font-size: calc(0.5rem + 0.75vw);
	color: var(--white-color);
	align-items: center;
	width: 100%;
	justify-content: space-between;
}
.giot-copyright {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	/* flex: 1 1 200px; */
}
.giot-address {
	display: flex;
	justify-content: flex-end;
	/* flex: 1 1 220px; */
}

.giot-copyright img {
	width: 1.5rem;
	height: 1.5rem;
}

.wrapper-palorant {
	display: flex;
	gap: 6rem;
}

.wrapper-social {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}

.separator-gradient {
	background: linear-gradient(0deg, rgba(245, 248, 245, 1) 35%, rgba(245, 245, 245, 0.75) 55%, rgba(245, 245, 245, 0.005) 100%);
	height: 25vh;
	width: 100%;
	min-width: 100%;
	position: absolute;
	bottom: 0;
	margin-bottom: -2px;
}

.separator-trapesium-bawah {
	height: 175px;
	clip-path: polygon(0 0%, 100% 0%, 100% calc(77% + (5vw - 72px)), calc(8% - (1vw - 30px)) calc(77% + (5vw - 72px)));
	background-color: var(--white-color);
	width: 100%;
	margin: -2px 0px;
}

.container-trapesium-bawah {
	background-color: var(--primary-color);
	width: 100%;
	height: auto;
}

.trapesium-wrap-bawah {
	filter: drop-shadow(0px 14px 10px rgba(0, 0, 0, 0.65));
	/* display: flex;
	align-items: flex-end; */
}

.trapesium-wrap-atas {
	filter: drop-shadow(0px -14px 10px rgba(0, 0, 0, 0.65));
	/* display: flex;
	align-items: flex-end; */
}

.separator-trapesium-atas {
	height: 175px;
	/* clip-path: polygon(0 7%, 77% 7%, 100% 100%, 0% 100%); */
	clip-path: polygon(0% calc(100% - (77% + (5vw - 72px))), calc(100% - (8% - (1vw - 30px))) calc(100% - (77% + (5vw - 72px))), 100% 100%, 0% 100%);

	/* 100% calc(77% + (5vw - 72px)),
		calc(8% - (1vw - 30px)) calc(77% + (5vw - 72px)) */
	background-color: var(--white-color);
	width: 100%;
	margin: -2px 0px;
}

.container-trapesium-atas {
	background-color: var(--primary-color);
	width: 100%;
	height: auto;
}

.hover-animation-white {
	display: inline-block;
	position: relative;
}
.hover-animation-black {
	display: inline-block;
	position: relative;
}

.hover-animation-white::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--white-color);
	transition: transform 0.35s ease-out;
}

.hover-animation-black::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--black-color);
	transition: transform 0.35s ease-out;
}

.hover-animation-white:hover::after {
	transform: scaleX(1);
}

.hover-animation-white.redirect::after {
	transform-origin: bottom right;
}

.hover-animation-white.redirect:hover::after {
	transform-origin: bottom left;
}

.hover-animation-black:hover::after {
	transform: scaleX(1);
}

.hover-animation-black.redirect::after {
	transform-origin: bottom right;
}

.hover-animation-black.redirect:hover::after {
	transform-origin: bottom left;
}

.news-redirect {
	color: var(--white-color);
	text-decoration: none;
	font-size: 1.25rem;
}
.news-container {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	gap: 3rem;
	justify-content: center;
	align-items: center;
	padding: 0rem 2rem;
}

.news-description {
	padding: 0.1rem 0.25rem;
	display: flex;
	gap: 0.1rem;
	flex-direction: column;
}

.news-type {
	color: var(--lightBlue-color);
	text-shadow: var(--paragraph-shadow);
}

.news-card {
	height: 335px;
	width: 300px;
	color: var(--white-color);
	border-radius: 12px;
	background: linear-gradient(150deg, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.4) 100%);
	backdrop-filter: blur(21px);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.news-img-box {
	overflow: hidden;
	border-radius: 12px;
}

.news-img-box img {
	transition: transform 0.25s ease-in-out;
}

.news-card:hover img {
	transform: scale(1.2);
}

.news-card:hover .hover-animation-white::after {
	transform: scaleX(1);
}

.news-card:hover .hover-animation-white.redirect::after {
	transform-origin: bottom right;
}

.news-card:hover .hover-animation-white.redirect::after {
	transform-origin: bottom left;
}

.news-container a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.news-img {
	width: 100%;
	border-radius: 12px;
	max-height: 50%;
	max-width: 100%;
}

.news-title {
	text-decoration: none;
	font-size: 1.25rem;
	width: fit-content;
	color: var(--white-color);
}

.news-date {
	text-decoration: none;
	font-size: 1.125rem;
	color: var(--white-color);
}

.news-description {
	text-decoration: none;
	font-size: 1.025rem;
	color: var(--white-color);
}

.secondary-blue {
	color: var(--lightBlue-color);
}

.bold {
	font-weight: bold;
}

/* footer container  */
@media screen and (max-width: 660px) {
	.footer-content {
		padding: 1rem 0rem;
	}
	.wrapper-palorant {
		gap: 1.5rem;
	}
	.footer-close {
		flex-direction: column;
		gap: 0.5rem;
		font-size: 1.025rem;
	}
}

/* tablet view */
@media screen and (max-width: 768px) {
	.play-now-btn {
		font-size: 1.625rem;
	}
	.news-container {
		flex-direction: column;
	}
	.news-card {
		width: 315px;
		height: 355px;
	}
	.news-title {
		font-size: 1.5rem;
	}
	.news-description {
		font-size: 1.125rem;
	}
	.news-date {
		font-size: 1.25rem;
	}
	.footer-container {
		padding: 0rem 2.5rem;
	}
	.wrapper-giot {
		width: 40% !important;
	}
	.giot-description {
		font-size: 1.125rem !important;
	}
	footer h3 {
		font-size: 1.25rem !important;
	}
	.wrapper-quick-links li a {
		font-size: 1.125rem !important;
	}
	.line-separator {
		margin: 1.5rem 0rem;
	}
}

/* mobile view */
@media screen and (max-width: 480px) {
	nav {
		width: min(100%, 480px);
	}
	.footer-container {
		flex-direction: column;
		width: 100%;
		align-items: center;
	}
	footer .wrapper-giot {
		width: 100% !important;
		padding-bottom: 2rem;
		align-items: center;
	}
	.giot-logo {
		max-width: 90%;
	}
	footer .giot-description {
		padding-top: 0.5rem;
		font-size: 1.25rem !important;
		text-align: center;
	}
	.wrapper-palorant {
		width: 100%;
		justify-content: space-around;
	}
	footer h3 {
		font-size: 1.5rem !important;
	}
	.wrapper-quick-links li a {
		font-size: 1.25rem !important;
	}
	.giot-mail {
		padding-top: 1rem;
	}
	.giot-mail,
	.giot-phone {
		font-size: 1.25rem;
	}
	.news-heading-container {
		gap: 0.5rem;
	}
	.home-news-heading {
		font-size: 3.5rem !important;
	}
	.news-redirect {
		font-size: 1.5rem;
	}
	.news-container {
		gap: 1.75rem;
	}
}
